@height : 150px;
html, body {
    height: 100%;
}
.header {
    width: 100%;
    height: 120px;
    .title {
        width: 100%;
        height: 100%;
        background-image: url('https://www.fengmap.com/img/develop/js/js_bj.png');
        color: #fff;
        line-height: 72px;
        .h1 {
            line-height: 72px;
            margin-top: 0;
            margin-bottom: 0;
            font-family: none;
            font-weight: 700;
        }
    }
    .nav {
        height: 48px;
        background-color: rgba(0, 0, 0, .1);
        margin-top: -48px;
        ul {
            li {
                float: left;
            }
            .nav-a {
                display: block;
                padding: 0 25px;
                color: #fff;
                height: 48px;
                line-height: 48px;
                background-color: rgba(0, 0, 0, 0.2);
                margin: 0 10px 0 0;
                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                    color: #ce682c;
                }
            }
            .active {
                background-color: rgba(255, 255, 255, 1);
                color: #ce682c;
            }
        }
    }
}
#content {
    height: calc(~"100% - @{height}");
}
.wrapper {
    .content {
        margin: 24px 0 48px 0;
        overflow: hidden;
        .content-nav {
            float: left;
            width: 200px;
            padding: 14px 28px;
            border: 1px solid rgba(0, 0, 0, .1);
            word-wrap: break-word;
            ul {
                li {
                    a {
                        font-size: 16px;
                        line-height: 45px;
                        // font-weight: 700;
                        color: #000;
                        &:hover {
                            color: green;
                        }
                    }
                    a.active {
                        color: green;
                    }
                }
            }
        }
        .content-middle {
            float: left;
            margin: 0 0 0 12px;
            width: 988px;
            border: 1px solid rgba(0, 0, 0, .1);
            padding: 14px 28px;
            .content-section {
                .block-title {
                    color: #444343;
                    margin-bottom: 20px;
                    margin-top: 8px;
                    font-weight: 600;
                }
                .block-content {
                    color: #444343;
                    margin-bottom: 20px;
                    margin-top: 8px;
                    font-weight: 500;
                }
                .block-title-arcticle {
                    color: #444343;
                    font-weight: 600;
                    border-bottom: 1px solid #e7e7e7;
                    padding-top: 42px;
                    padding-bottom: 14px;
                }
                .block-content-p {
                    font-size: 14px;
                    color: #444343;
                    margin-bottom: 20px;
                    margin-top: 8px;
                    font-weight: 500;
                }
                .text-left {
                    text-align: left;
                }
            }
        }
        .content-notebook {
            float: left;
            width: 100%;
            height: 100%;
        }
    }
}
.wrapper-sam {
    height: 100%;
    .content {
        margin: 24px 0 8px 0;
        overflow: hidden;
        height: 100%;
        .content-nav {
            float: left;
            width: 14%;
            height: 100%;
            overflow: auto;
            padding: 14px 28px;
            border: 1px solid rgba(0, 0, 0, .1);
            word-wrap: break-word;
            ul {
                li {
                    a {
                        font-size: 16px;
                        line-height: 45px;
                        // font-weight: 700;
                        color: #000;
                        &:hover {
                            color: green;
                        }
                    }
                    a.active {
                        color: green;
                    }
                }
            }
            #list {
                li {
                    h4 {
                        font-size: 16px;
                        line-height: 45px;
                        color: #000;
                        cursor: pointer;
                        &:hover {
                            color: green;
                        }
                    }
                    h4.active {
                        color: green;
                    }
                    .item {
                        display: none;
                        li {
                            text-indent: 12px;
                            padding: 4px;
                            cursor: pointer;
                            &:hover {
                                color: green;
                            }
                        }
                        li.active {
                            color: green;
                        }
                        // &:nth-child(1) {
                        //     display: block;
                        // }
                    }
                }
            }
        }
        .content-middle {
            float: left;
            // margin: 0 0 0 12px;
            width: 43%;
            height: 100%;
            border: 1px solid rgba(0, 0, 0, .1);
            .content-section {
                position: relative;
                float: left;
                width: 100%;
                height: 100%;
                .btn {
                    width: 100px;
                    height: 30px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: #fff;
                    z-index: 2;
                    cursor: pointer;
                }
                .btn-l {
                    width: 50px;
                    height: 90px;
                    position: absolute;
                    top: 24px;
                    right: 52px;
                    z-index: 2;
                    .btn-p {
                        background: rgba(255, 255, 255, 0.8);
                        border: 1px solid rgba(255, 255, 255, 0.8);
                        border-radius: 15px;
                        text-align: center;
                        margin-top: 2px;
                        cursor: pointer;
                    }
                    .active {
                        background: #fff;
                        border: 1px solid #fff;
                    }
                }
                .editor {
                    margin: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: none;
                }
                .active {
                    display: block;
                }
            }
        }
        .content-browser {
            float: left;
            width: 43%;
            height: 100%;
            #ifId {
                width: 100%;
                height: 100%;
            }
        }
        .content-notebook {
            float: left;
            width: 100%;
            height: 100%;
            margin-top: -20px;
        }
        .content-demo {
            float: left;
            width: 86%;
            height: 100%;
            img {
                width: 32%;
                height: 40%;
                margin: 0 1% 5% 0;
                cursor: pointer;
            }
        }
    }
}
.footer {
    background-color: rgba(0, 0, 0, .3);
    height: 10px;
}